<p id="notice"><%= notice %></p>

<script>
  $(document).ready(function() {

    $('#form').hide(); //Initially form wil be hidden.
    $('#button-hide').hide();

    $('#button-show').click(function() {
     $('#form').show();//Form shows on button click
     $('#button-show').hide();
     $('#button-hide').show();
    });

    $('#button-hide').click(function() {
      $('#form').hide();
      $('#button-hide').hide();
      $('#button-show').show();
    });
  });
</script>

<div id="button-show">
  <%= button_tag "Show Form" %>
</div>
<div id="button-hide">
  <%= button_tag "Hide Form" %>
</div>

<div id="form">
  <p>
    <b>Script name:</b>
    <%= @call.script_name %>
  </p>

  <p>
    <b>School data filename:</b>
    <%= @call.school_data_filename %>
  </p>

  <p>
    <b>School name:</b>
    <%= @call.school_name %>
  </p>

  <p>
    <b>Api response filename:</b>
    <%= @call.API_response_filename %>
  </p>

  <p>
    <b>Dp rails filename:</b>
    <%= @call.DP_rails_filename %>
  </p>

  <p>
    <b>Dp db filename:</b>
    <%= @call.DP_DB_filename %>
  </p>


  <%= link_to 'Edit', edit_call_path(@call) %> |
  <%= link_to 'Back', calls_path %> ||| 
  <%= link_to 'Run It!', runIt_call_path(@call), data: { confirm: 'Are you sure?' }  %>
</div>