<%= gmaps4rails(@json) %>

Search within 50 miles
<%= form_tag institutions_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<% if params[:search].present? %>
    <h1>Number of schools found <%= @schoolSearchCount %></h1>
<% end %>

<h2>Listing institutions</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Gmaps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @institutions.each do |institution| %>
  <tr>
    <td><%= institution.id %></td>
    <td><%= institution.title %></td>
    <td><%= institution.latitude %></td>
    <td><%= institution.longitude %></td>
    <td><%= institution.gmaps %></td>
    <td><%= link_to 'Show', institution %></td>
    <td><%= link_to 'Edit', edit_institution_path(institution) %></td>
    <td><%= link_to 'Destroy', institution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Institution', new_institution_path %>
